<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>kkm-paper</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/svg+xml" href="/icons/kkm-paper.svg">
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/customs/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/terminalcss/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/normalize/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/tiptap/tiptap.custom.css'>
    <script src="/lib/tiptap/tiptap.bundle.js"></script>
    <script src="/lib/tiptap/tiptap.custom.js"></script>
    <script src="/lib/customs/api.js"></script>
    <script src="/lib/customs/admin.js"></script>
</head>
<body class="terminal">
    <div class="container">
        <h2 id="title">kkm-paper(admin)</h2>
        <div class="components components-grid">
            <div>
                <aside class="managements">
                    <h2>Managements</h2>
                    <nav>
                        <ul></ul>
                    </nav>
                </aside>
                <aside class="categories">
                    <h2>Categories</h2>
                    <nav>
                        <ul></ul>
                    </nav>
                </aside>
            </div>
            <main>
                <section class="content">
                    <ol class="terminal-toc">
                        <!-- <li data-date="yyyy-MM-dd"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li> -->
                    </ol>
                </section>
            </main>
        </div>
    </div>
</body>
</html>