<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>kkmblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="kkmblog">
    <meta name="author" content="kwangmin kim">
    <link rel="icon" href="/icon/favicon.ico">
    <link type="text/css" href="/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="/lib/neumorphism-ui/css/neumorphism.css" rel="stylesheet">
</head>

<body>
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                    <img class="navbar-brand-dark" src="/icon/logo.svg" alt="KKM">
                    <img class="navbar-brand-light" src="/icon/logo.svg" alt="KKM">
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html"
                                    class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <img class="navbar-brand-light" src="/icon/logo.svg" alt="KKM">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text">Subjects</span>
                                <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu" id="subjectList">
                                <li><a class="dropdown-item" href="/view/subject/1">Daily</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <span class="badge badge-dark">kkmaddress@gmail.com</span>
                    <button class="navbar-toggler ml-2 collapsed" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main layout:fragment="main">
    </main>

    <!-- Core -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="/lib/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/lib/jarallax/dist/jarallax.min.js"></script>
    <script src="/lib/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/lib/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/lib/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/lib/prismjs/prism.js"></script>

    <!-- Neumorphism JS -->
    <script src="/lib/neumorphism-ui/js/neumorphism.js"></script>
</body>

</html>